@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

body {
  // display: flex;
  // align-items: center;
  // justify-content: center;

  min-height: 100vh;

  background: linear-gradient(#08091045, #231250),
    url("https://fexmembbs.com/assets/images/kyrgyzstan.png") no-repeat center;
  background-size: cover;

  font-family: "Proxima Nova", sans-serif;
}
